[submodule "building-microservices-youtube"]
	path = building-microservices-youtube
	url = https://github.com/nicholasjackson/building-microservices-youtube.git
[submodule "developer-roadmap"]
	path = developer-roadmap
	url = https://github.com/kamranahmedse/developer-roadmap.git
